.main {
  width: 100%;
  height: calc(100vh - var(--top-bar-height) - var(--body-padding-top));
  overflow-x: hidden;
  overflow-y: scroll;
  transition: height var(--fast-transition-time) linear;
}

.scroll {
  width: 100%;
  height: fit-content;
}

.disable-scroll {
  position: fixed;
}
