<main class="main" #main>

  <div (click)="router.navigate('')" class="logo block">
    <p>Algoverse</p>
  </div>

  <div class="nav-container">
    <nav class="nav" #nav>
      <div class="link" (click)="router.navigate(route.url)" *ngFor="let route of routes">
        <p>{{route.name}}</p>
      </div>
    </nav>

    <div class="hamburger_container">
      <div (click)="InteractSlideMenu()" class="hamburger">
        <div class="line" #close_line></div>
        <div class="line" #open_line></div>
        <div class="line" #close_line></div>
      </div>
    </div>
  </div>

</main>
