<main class="main">

  <div class="block block-header">
    <p class="header font-size-xxxlarge">Hey you, wanna change?</p>
    <p class="text font-size-medium">
      You can start from learning new languages or solving tasks in olympiad
      programming to prepare for big competitions.
    </p>
  </div>

  <div class="block about-us-block__container">
    <div class="about-us-block__top-part">
      <div class="about-us-block-top-left-part">
        <div class="about-us-block-top-left-content">
          <h1 class="block-title font-size-xlarge">Learn with us <span class="colored-font"><span>Efficiently</span></span>.</h1>
        </div>
      </div>
      <div class="about-us-block-top-right-part"></div>
    </div>

    <div class="about-us-block__bottom-content">
      <div class="about-us-block__card">
        <p class="card-header font-size-large fw-600">Amazing problems</p>
        <p class="font-size-medium">Our service provide interesting problems and amazing problemsets. You will definitely enjoy solving them.</p>
      </div>
      <div class="about-us-block__card">
        <p class="card-header font-size-large fw-600">Amazing problems</p>
        <p class="font-size-medium">Our service provide interesting problems and amazing problemsets. You will definitely enjoy solving them.</p>
      </div>
      <div class="about-us-block__card">
        <p class="card-header font-size-large fw-600">Amazing problems</p>
        <p class="font-size-medium">Our service provide interesting problems and amazing problemsets. You will definitely enjoy solving them.</p>
      </div>
    </div>
  </div>

  <div class="floating-text floating-text1" #floating_text>
    <p class="font-size-xxlarge">Start changing today</p>
    <p class="empty-text font-size-xxlarge">do more tasks</p>
  </div>

</main>
