@import url("https://fonts.googleapis.com/css2?family=Rubik");
@import url('https://fonts.googleapis.com/css2?family=Inter');
@import url('https://fonts.cdnfonts.com/css/noto-sans-syriac-eastern');

* {
  line-height:                 100%;
  box-sizing:                  border-box;
  margin:                      0;
  padding:                     0;
  caret-color:                 transparent;
  font-family:                 var(--ff-inter);
  -webkit-tap-highlight-color: transparent;
  color:                       var(--main-text-color);
  user-select:                 none;
  height:                      fit-content;
}

*::-webkit-scrollbar {
  display: none;
  width:   0;
}

html, body {
  width:           100vw;
  scroll-behavior: smooth;
  min-height:      100vh;
  overflow-x:      hidden;
  overflow-y:      hidden;
}

body {
  background-color: var(--body-bg-color);
  display:          flex;
  flex-wrap:        wrap;
  position:         relative;
  padding: var(--body-padding-top) 10px 0;
}

li {
  list-style-type: none;
}

input, button, select {
  outline-offset: 0;
  outline:        0;
}

img {
  -moz-user-select:    none;
  -webkit-user-select: none;
  user-select:         none;
  pointer-events:      none;
}

/* LITTLE CLASSES */

.font-size-xxxlarge {
  font-size: clamp(4.5rem, 7vw, 7.5rem);

  @media screen and (max-width: 991px) {
    font-size: 7vw;
  }
  @media screen and (max-width: 470px) {
    font-size: 9.25vw;
  }
}

.font-size-xxlarge {
  font-size: clamp(3rem, 5vw, 5rem);

  @media screen and (max-width: 991px) {
    font-size: 3rem;
  }
  @media screen and (max-width: 470px) {
    font-size: 2rem;
  }
}

.font-size-xlarge {
  font-size: clamp(2.5rem, 3.5vw, 3rem);

  @media screen and (max-width: 991px) {
    font-size: 2.5rem;
  }
  @media screen and (max-width: 470px) {
    font-size: 1.75rem;
  }
}

.font-size-large {
  font-size: clamp(1.5rem, 2vw, 2.5rem);

  @media screen and (max-width: 991px) {
    font-size: 2rem;
  }
  @media screen and (max-width: 470px) {
    font-size: 1.5rem;
  }
}

.font-size-medium {
  font-size: 1.5rem;

  @media screen and (max-width: 470px) {
    font-size: 1rem;
  }
}

.font-size-regular {
  font-size: 1rem;
}

.fw-700 { font-weight: 700; }
.fw-600 { font-weight: 600; }
.fw-500 { font-weight: 500; }

/* VARIABLES */

:root { /* fonts */
  --ff-rubik: "Rubik", sans-serif;
  --ff-noto:  "Noto Sans Syriac Eastern", sans-serif;
  --ff-inter: "Inter", sans-serif;
}

:root { /* default colors */
  --blue:    #0284ff;
  --blue-2:  #2300f7;
  --blue-3:  #121d39;
  --black:   #000000;
  --white:   #ffffff;
  --gray-b6: #b6b6b6;
  --light-black: #222222;
  --orange: #ff472b;
  --slight-black: #141414;
}

:root[theme='light'] { /* colors[white-theme] */ }

:root[theme="dark"] { /* colors[dark-theme] */
  --body-bg-color:             var(--light-black);
  --background-color-2: var(--blue-3);
  --main-text-color:           var(--white);
  --top-bar-background:        var(--top-bar-background-closed);
  --top-bar-background-opened: var(--slide-menu-background);
  --top-bar-background-closed: var(--slight-black);
  --main-background-slight-dark: var(--slight-black);
  --top-bar-hamburger-color:   var(--white);
  --slide-menu-background:     var(--blue);
  --slide-bar-links-color: var(--white);
  --slide-bar-active-link-color: var(--light-black);
  --top-bar-links-color: var(--white);
  --routing-button-color: var(--white);
  --colored-font-color: var(--blue);
  --border-light: var(--white);
  --buttons-border-color: var(--white);
}

:root { /* sizes */
  --top-bar-height:                var(--top-bar-height_opened);
  --top-bar-height_opened:         120px;
  --top-bar-height_closed:         80px;
  --bottom-bar-height:             400px;
  --max-main-width:                1440px;
  --top-bar-hamburger-size:        40px;
  --top-bar-hamburger-line-height: 5px;
  --body-padding-top: 20px;
  --block-border-radius: 16px;
}

:root { /* transition duration times */
  --slow-transition-time: .6s;
  --fast-transition-time: .3s;
}
